/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    line-height: 1.1;
    font-size: 40px;
    /*background-color: #989797;*/
    background: linear-gradient(to bottom right, white, #797D7F);
    font-family: 'Poiret One', cursive;
    padding-left: 150px;
    padding-top: 200px;
    height: 100vh;
}

p { color:#FDFEFE  ; }

